[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group Fusion-OS-Core
	owner = group user/Box In a Box (Box-boi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Fusion-OS-Core
	label-Code-Review = -2..+2 group user/Box In a Box (Box-boi)
	label-Verified = -1..+1 group Fusion-OS-Core
	label-Verified = -1..+1 group user/Box In a Box (Box-boi)
	push = +force group Fusion-OS-Core
	push = +force group user/Box In a Box (Box-boi)
	read = group Fusion-OS-Core
	read = group user/Box In a Box (Box-boi)
	rebase = group Fusion-OS-Core
	rebase = group user/Box In a Box (Box-boi)
	removeReviewer = group Fusion-OS-Core
	removeReviewer = group user/Box In a Box (Box-boi)
	submit = group Fusion-OS-Core
	submit = group user/Box In a Box (Box-boi)
[access "refs/heads/*"]
	create = group Fusion-OS-Core
	create = group user/Box In a Box (Box-boi)
	push = +force group Fusion-OS-Core
	push = +force group user/Box In a Box (Box-boi)
	pushMerge = group Fusion-OS-Core
	pushMerge = group user/Box In a Box (Box-boi)
	read = group Fusion-OS-Core
	read = group user/Box In a Box (Box-boi)
[access "refs/tags/*"]
	push = +force group Fusion-OS-Core
	push = +force group user/Box In a Box (Box-boi)
